body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #daeab8;
}
header {
    background-color: #AAB396;
    color: #ECFFE6;
    text-align: center;
    padding: 1rem 0;
}
header h1 {
    margin: 0;
}
nav {
    display: flex;
    justify-content: center;
    background-color: #DCE4C9;
    padding: 0.5rem;
}
nav a {
    color: #5F6F65;
    text-decoration: none;
    margin: 0 3rem;
}
nav a:hover {
    text-decoration: underline;
    color:#AAB396;
}
.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 2rem;
}
.product {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
}
.product img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.product h3 {
    margin: 1rem 0 0.5rem;
    color:#9CA986;
}
.product p {
    color: #9CA986;
}
.product button {
    background-color: #9CA986;
    color: #FEF3E2;
    border: none;
    padding: 0.5rem 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 4px;
}
.product button:hover {
    background-color: #CADABF;
    color:#333;
}
footer {
    background-color: #9CA986;
    color: white;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}